@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-icon {
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.contact-icon:hover {
  -webkit-transform: scale(1.2) rotate(0.01deg);
  transform: scale(1.2) rotate(0.01deg);
}
