@tailwind base;
@tailwind components;
@tailwind utilities;

.contact-icon {
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
}

.contact-icon:hover {
  -webkit-transform: scale(1.2) rotate(0.01deg);
  transform: scale(1.2) rotate(0.01deg);
}

.nav-link {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-link:hover {
  color: rgb(8 145 178);
}

@media screen and (min-width: 900px) {
  .mobile-nav {
    display: none;
  }

  .header {
    flex-direction: row;
  }

  .main-section {
    width: 66.666667%;
  }

  .total-width {
    width: 83.333333%;
  }

  .content-height {
    height: 83.333333%;
  }
}

@media screen and (max-width: 900px) {
  .nav {
    display: none;
  }

  .header {
    flex-direction: column;
  }

  .main-section {
    width: 100%;
  }

  .total-width {
    width: 100%;
  }
}

@media screen and (min-width: 767px) {
  .main-padding {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
